
REMOTE_SERVER_1_NAME="Server One"
REMOTE_SERVER_1_HOST="server.one.es"
REMOTE_SERVER_1_USER="user-one"
REMOTE_SERVER_1_PASSWORD="the-pass"
REMOTE_SERVER_1_PORT="22"
REMOTE_SERVER_1_DISK_PATH="/"

REMOTE_SERVER_1_NAME="Server Two"
REMOTE_SERVER_1_HOST="server.two.es"
REMOTE_SERVER_1_USER="user-two"
REMOTE_SERVER_1_PASSWORD="the-pass"
REMOTE_SERVER_1_PORT="22"
REMOTE_SERVER_1_DISK_PATH="/"
